button{
    background-color: aquamarine;
    display: inline-block;
    border-radius: 10px;
    padding: 20px;
    border: 2px solid black;
    text-align: center;
    width: 150px;
    height: 100%;
}

table, th, td{
    /*border: 1px solid black;*/
    font-family: sans-serif;
    height: 100%;
}

table{
    transform-origin: top left;
    transform: scale(1);
}

hr{
    border: 1px solid black;
}


.sum{
    margin: 10px;
}

body{
    overflow: hidden;
    background-image: url()
}

#number{
    margin: auto;
    font-size: 30px;
    text-align: center;
}